body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
.myself {
    color: orange;
}
.tophalf {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.tophalf img {
    width: 100%;
}